{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div>
    <h1 class="my-4">{% translate 'Statuses' %}</h1>
    <a class="btn btn-primary" href="{% url 'status_create' %}" role="button">{% translate 'Create status' %}</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>{% translate 'Name' %}</th>
            <th>{% translate 'Creation date' %}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for status in statuses %}
        <tr>
            <td>{{ status.id }}</td>
            <td>{{ status.name }}</td>
            <td>{{ status.created_at }}</td>
            <td class="text-end">
                <a class="btn btn-outline-primary btn-sm" href="{% url 'status_update' status.id %}" role="button">{% translate 'Edit' %}</a>
                <a class="btn btn-outline-primary btn-sm" href="{% url 'status_delete' status.id %}" role="button">{% translate 'Delete' %}</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}