{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="container wrapper flex-grow-1">
    <h1 class="my-4">{% translate 'Update status' %}</h1>
    <form method="post">
        {% csrf_token %}

        {% include 'errors.html' %}

        <div class="mb-3">
            <label class="form-label" for="{{ form.name.id_for_label }}">{% translate 'Name' %}</label>
            {{ form.name }}
        </div>

        <input class="btn btn-primary" type="submit" value="{% translate 'Update' %}">

    </form>
</div>
{% endblock %}