{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="container wrapper flex-grow-1">
    <h1 class="my-4">{% translate 'Update user' %}</h1>
    <form method="post">
        {% csrf_token %}

        {% include 'errors.html' %}

        <div class="mb-3">
            <label class="form-label" for="{{ form.first_name.id_for_label }}">{% translate 'First name' %}</label>
            {{ form.first_name }}
        </div>
        <div class="mb-3">
            <label class="form-label" for="{{ form.last_name.id_for_label }}">{% translate 'Last name' %}</label>
            {{ form.last_name }}
        </div>
        <div class="mb-3">
            <label class="form-label" for="{{ form.username.id_for_label }}">{% translate 'Username' %}</label>
            {{ form.username }}
        </div>
        <div class="mb-3">
            <label class="form-label" for="{{ form.password1.id_for_label }}">{% translate 'Password' %}</label>
            {{ form.password1 }}
        </div>

        <div class="mb-3">
            <label class="form-label" for="{{ form.password2.id_for_label }}">{% translate 'Password confirm' %}</label>
            {{ form.password2 }}
        </div>

        <input class="btn btn-primary" type="submit" value="{% translate 'Update' %}">

    </form>
</div>
{% endblock %}
