{% load django_bootstrap5 %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Task manager Hexlet</title>
    {% bootstrap_css %}
</head>
<body class="d-flex flex-column min-vh-100">

<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">{% translate 'Task manager' %}</a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users_list' %}">{% translate 'Users' %}</a>
                </li>
                {% if not user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">{% translate 'Login' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user_create' %}">{% translate 'Registration' %}</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'statuses' %}">{% translate 'Statuses' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tasks' %}">{% translate 'Tasks' %}</a>
                </li>
                <li class="nav-item">
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <input class="nav-link" type="submit" value="{% translate 'Logout' %}">
                    </form>
                </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>

<main class="flex-grow-1">
    <div class="container-lg mt-4">
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}

        {% block content %}
        {% endblock %}

    </div>
</main>
{% bootstrap_javascript %}
</body>
</html>